<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/s.png" rel="icon">

  <title>PDF combiner</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">

<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
    <style>
        body {
          background-image: url('./static/assets/images/4.jpg');
         }

    </style>
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>

        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work.html" title="" class="active">001</a></li>
            <li><a href="./work2.html" title="">002</a></li>
            <li><a href="./work3.html" title="">003</a></li>
            <li><a href="./work4.html" title="">004</a></li>
            <li><a href="./work5.html" title="">005</a></li>
            <li><a href="./work6.html" title="">006</a></li>
          </ul>


      </div>
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">006 : PDF combiner</h1>
          </div>
          <h3>Introduction</h3>
          <p>A project that has more than one person or team involved will end up with documents being submitted from every angle.  If these are all sent in various file formats, they can all be saved as PDF documents and then merged, so the presentation can then be made using only one big document will all team input and conclusions in one place.
          Places such as records libraries will have thousands of files saved electronically, but as separate documents rather than one big record. Merging these files as PDFs in groups will mean that searchers have less to work through, cutting down time spent trying to find a document.</p>
          <h3>About PDF Combiner</h3>
          <p>This utility is very time efficient as large number of PDFs can be merged in a very small amount of time. It takes number of PDFs at a time and gives a super PDF as output which is combination of all the input PDFs.</p>
        </div>
      </div>



      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">


          </div>
          <div class="col-xs-12 col-md-6">


          </div>
        </div>
      </div>

      <div class="col-xs-12">

      </div>

    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Created by SIDDANT VARDEY</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

 <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>